body {
  font-size: 20px;
  color: #1e1e1e;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
    display: flex;
}

#sidebar {
    height: 100%;
}

#content-wrapper{
    background-color:#f8f9fc;
    width:100%;
    overflow-x:hidden
}

#nav {
    position: fixed;
    top: 0;
    background: #FFF;
}

.navbar-brand {
    font-weight: bold;
    font-size: 36px;
    color: #3F3D56;
}

#nav .navbar-nav > button.nav-item {
    border-radius: 8px;
    margin: 2px;
    font-weight: 500;
    font-size: 18px;
}

#navbar-nav{
    background: #38374D;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#nav-konten {
    background: rgba(196, 196, 196, 0.19);
}

#header {
    background: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

footer {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.page-footer {
    background: #8FB9A8;
}

.footer-copyright {
    background: #38374D;
}

.page-footer .logo{
    font-weight: bold;
    font-size: 36px;
}

.form-konten {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.form-konten > input {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-konten > button {
    background: #8FB9A8;
    border: none;
    border-radius: 8px;
}

.form-konten > button:hover {
    background: #729486;
    border: none;
    border-radius: 8px;
}

.btnWhite {
    color: #8FB9A8;
    border: #8FB9A8;
    border-radius: 8px;
}

.btnGreen {
    color: white;
    background: #8FB9A8;
    border: none;
    border-radius: 8px;
}

.logo {
    font-weight: bold;
    font-size: 36px;
    color: #3F3D56;
}